.button {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0 8px;
  width: 132px;
  height: 32px;
  border: 1px solid var(--dark-color);
  border-radius: 16px;
  background-color: var(--dark-color);
  color: var(--background-color);
  overflow: hidden;
}
.button:hover,
.button:active {
  background-color: var(--extra-light-color);
  color: var(--dark-color);
}

.button::before {
  z-index: 1;
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 1;
  font-weight: normal;
  font-size: 20px;
  padding-right: 0.33em;
  content: "\e037";
}

.button.playing::before {
  content: "\e034";
}

.button > .time {
  z-index: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding-right: 4px;
  user-select: none;
  -moz-user-select: none;
  font-size: 15px;
  line-height: 1;
}

.button > .timeline {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--medium-color);
}
.button:hover > .timeline,
.button:active > .timeline {
  background-color: var(--light-color);
}
