.header {
  padding: 144px 0 96px 0;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  text-align: left;
}

.logo {
  height: 25vh;
}

.howItWorksSteps > li:not(:last-child) {
  margin-bottom: 0.5em;
}

.resultsTable {
  margin: 1em auto;
}

.footer {
  border-bottom: none;
}

.footer .report::before {
  content: "\e873";
}
.footer .github::before {
  content: "\e86f";
}

.architectureFigure {
  width: 100%;
}