.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 48px;
  margin-bottom: 48px;
}

.container:last-child {
  margin-bottom: 0;
}

.container a {
  color: inherit;
}

.container:last-child .links {
  border-bottom: none;
}

.links > li a.report::before {
  content: "\e873";
}
.links > li a.github::before {
  content: "\e86f";
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.title > img {
  height: 25vh;
  padding: 16px;
  user-select: none;
  -moz-user-select: none;
  filter: contrast(67%) brightness(115%)
    drop-shadow(0 3px 15px rgba(0, 0, 0, 0.3));
}

.title > h1 {
  display: inline-block;
  margin: 0;
  font-family: var(--font-barrio), cursive;
}

.downloadLink::before {
  content: "\f090";
}

.recorderWrapper {
  width: 100vw;
}

.learnMoreButton {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 48px;
}
.learnMoreButton::after {
  content: "\e313";
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
}
