@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0..1,0");
@import url("https://www.maxhuang.dev/src/css/theme.css");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  line-height: 1.7;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

a {
  color: var(--accent-2-color);
  text-decoration: none;
  cursor: pointer;
}

button {
  font: inherit;
  cursor: pointer;
}

audio {
  max-width: 240px;
  display: flex;
}

table {
  border-radius: 5px;
  border-collapse: collapse;
  overflow: hidden;
  color: var(--dark-color);
}

td,
th {
  font-size: 15px;
  text-align: left;
  padding: 12px 16px;
}

th {
  background-color: var(--dark-color);
  color: var(--background-color);
  border-color: var(--medium-color);
}

tr {
  background-color: var(--background-color);
}
tr:nth-child(odd) > td {
  background-color: var(--extra-light-color);
}

figure {
  --inner-padding: 10px;
  margin-top: calc(1em - var(--inner-padding));
  margin-bottom: calc(1em - var(--inner-padding));
  margin-left: calc(40px - var(--inner-padding));
  margin-right: calc(40px - var(--inner-padding));
}

figure > *:first-child {
  max-width: 100%;
  width: fit-content;
  padding: var(--inner-padding);
  overflow-x: auto;
  margin: 0 auto;
}

figure > *:first-child > * {
  background-color: var(--background-2-color);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

figure > figcaption {
  margin-top: 8px;
  margin-bottom: 24px;
  text-align: center;
  font-size: smaller;
  font-style: italic;
}

.icon::before {
  position: relative;
  bottom: -0.125em;
  display: inline;
  vertical-align: baseline;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  padding-right: 0.33em;
}

.ghost-button {
  user-select: auto;
  -moz-user-select: auto;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  color: inherit;
}

.link-section {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 48px 0;
  margin: 0;
  margin-top: 48px;
  border-top: 1px dashed var(--light-color);
  border-bottom: 1px dashed var(--light-color);
}

.link-section > li {
  display: inline;
}

.link-section a {
  color: inherit;
}