div.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-open-sans), sans-serif;
}

div.page > main {
  flex-grow: 1;
}

footer.footer {
  padding: 32px 0 48px 0;
  border-top: 1px solid var(--light-color);
}

footer.footer > ul.links {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer.footer > ul.links > li:not(:first-child)::before {
  content: "\2022";
  padding: 0 0.33em;
}

img.logo {
  margin-top: 64px;
  user-select: none;
  -moz-user-select: none;
}

h1.title {
  font-family: var(--font-barrio), cursive;
}