.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 32px;
  font-family: var(--font-open-sans), sans-serif;
}

.main {
  padding: 48px 0;
  flex-grow: 1;
}

.footer {
  padding: 48px 0;
  border-top: 1px solid var(--light-color);
}

.footer > ul.links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.footer > ul.links > li a.report::before {
  content: "\e873";
}
.footer > ul.links > li a.github::before {
  content: "\e86f";
}

.logo {
  height: 25vh;
  padding: 16px;
  user-select: none;
  -moz-user-select: none;
  filter: contrast(67%) brightness(115%);
}

.title {
  font-family: var(--font-barrio), cursive;
  margin-bottom: 48px;
}

.downloadLink::before {
  content: "\f090";
}

.recorderWrapper {
  margin: 0 -32px;
}
