.container {
  --button-hue: 3;
  --button-lightness: 1;
  --button-color: hsl(
    var(--button-hue),
    100%,
    calc(64% * var(--button-lightness))
  );
  --button-hover-color: hsl(
    var(--button-hue),
    61%,
    calc(51% * var(--button-lightness))
  );
  --button-background-color: hsl(var(--button-hue), 100%, 98%);
  --button-shadow-color: hsla(
    var(--button-hue),
    100%,
    calc(64% * var(--button-lightness)),
    25%
  );
  --button-shadow-hover-color: hsla(
    var(--button-hue),
    61%,
    calc(51% * var(--button-lightness)),
    25%
  );
}
body[data-theme="dark"] .container {
  --button-background-color: hsl(var(--button-hue), 8%, 21%);
}
.container[data-state="paused"],
.container[data-state="playing"] {
  --button-hue: 138;
  --button-lightness: 0.5;
}

.container {
  position: relative;
  text-align: center;
  height: 96px;
}

.container > .recordButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  height: 48px;
  padding: 0 16px;
  border-radius: 24px;
  border: 2px solid var(--button-color);
  color: var(--button-color);
  background-color: var(--button-background-color);
  box-shadow: 0 3px 15px 0 var(--button-shadow-color);
  white-space: nowrap;
}

.container > .recordButton:hover {
  background-color: var(--button-color);
  color: white;
}

.container > .recordButton:active {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
  color: white;
  box-shadow: 0 3px 15px 0 var(--button-shadow-hover-color);
}

.container > .recordButton:disabled {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: auto;
  color: var(--dark-color);
}

.container[data-state="loading"] > .recordButton::before {
  content: "";
}
.container[data-state="loading"] > .recordButton::after {
  content: "Loading...";
}

.container[data-state="readyToRecord"] > .recordButton::before {
  content: "\e837";
}
.container[data-state="readyToRecord"] > .recordButton::after {
  content: "Record";
}

.container[data-state="recording"] > .recordButton::before {
  content: "\e047";
}
.container[data-state="recording"] > .recordButton::after {
  content: "Stop";
}

.container[data-state="generating"] > .recordButton::before {
  content: "";
}
.container[data-state="generating"] > .recordButton::after {
  content: "Piranha-fiying Song...";
}

.container[data-state="paused"] > .recordButton::before {
  content: "\e037";
}
.container[data-state="paused"] > .recordButton::after {
  content: "Play";
}

.container[data-state="playing"] > .recordButton::before {
  content: "\e034";
}
.container[data-state="playing"] > .recordButton::after {
  content: "Pause";
}
